body{
	margin:0;
}
nav{
	background-color: #1A0F0A;
	height: 4.5rem;
}
	
	
#dp{
	display: inline-block;
	border-radius: 50px;
	width: 100px;
	height: 100px;
	position: absolute;
	top:8px;
	margin-left: 10rem;
}

.navul  , .navli , .navdiv, .home{
	display: inline-block;
	margin: 0;
	

}

nav ul li:hover{
	background-color: #ff6200;
	border-radius: 6px;
	cursor: pointer;
}
.navli, .home{
	padding: 13px;

}


.home{
	background-color: #ff6200;
	border-radius: 6px;
}

.navul{
	position: absolute;
  	top: 22px;
  	right: 10rem;

}



a{
	text-decoration: none;
	color: white;
	font-size: 20px;
	font-family: Arial;

}

.WB{
	
	margin-left: auto;
	margin-right: auto;
	background-color: #dddccf;
}

h1 , h2{
	display: inline-block;
	font-family:'Nothing You Could Do', cursive;
	color:#535353;
	margin: 0;
	padding: 10px;
}
.namediv , .namediv2{
	
	text-align: center;
}
.namediv{
	  display: inline-block;
  position: absolute;
  top: 15rem;
  left: 26rem;
}

.namediv2{
	  display: inline-block;
  position: absolute;
  top: 30rem;
  left: 26rem;

}

.travel{
	background-color: #C7C6BA;
}
.img2{
	margin-top: 20px;
}

.img, .img2{
	margin-left: 40rem;
	display: inline-block;
}


.maincontent:after {
    background: linear-gradient(-495g, #black 16px, transparent 0), linear-gradient(45deg, black 16px, transparent 0);
    background-position: left-bottom;
    background-repeat: repeat-x;
    background-size: 32px 32px;
    content: " ";
    display: block;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 32px;
}
/*
.polaroid {
	margin:auto;
	margin:0px auto;
	position:relative;
	list-style: none;
}
.polaroid a {
	background:#fff;
	display:inline;
	float:left;
	width:auto;
	padding:10px 10px 30px 10px;
	text-align:center;
	text-decoration:none;
	color:#333;
	font-size:28px;
	font-family:'Nothing You Could Do', cursive;
	font-weight:bold;
	-webkit-box-shadow:0px 0px 10px rgba(0,0,0,1);
	-moz-box-shadow:0px 0px 10px rgba(0,0,0,1);
	box-shadow:0px 0px 10px rgba(0,0,0,1);
	-webkit-transition:all .30s;
	-moz-transition:all .30s;
	-o-transition:all .30s;
	transition:all .30s;
	
}
.polaroid img {
	display:block;
	padding-bottom:20px;
}
.polaroid a:hover {
	z-index:100;
	position: relative;
	 -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
}
.polaroid a:after {
	content:attr(title);
}

ul.polaroid li:nth-child(even) a {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}

ul.polaroids li:nth-child(3n) a {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
.projects{
	margin-top:20px;
}
*/
.WB{
  background:
    linear-gradient(
      45deg, transparent 33.333%,
      #E2E2E2 33.333%, #E2E2E2 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -45deg, transparent 33.333%,
      #E2E2E2 33.333%, #E2E2E2 66.667%,
      transparent 66.667%
    );
}

.WB2{

	background:
    linear-gradient(
      47deg,transparent 33.333%,
      #E2E2E2 33.333%, #E2E2E2 66.667%,
      transparent 66.667%
    ),
    linear-gradient(
      -47deg,transparent 33.333%,
      #E2E2E2 33.333%, #E2E2E2 66.667%,
      transparent 66.667%
    );

}

.footer{
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;

}

.footer ul li a img{
	width: 120px;
	height: 90px;
}
.footer ul{
	list-style: none;

}
.footer ul li{
	display: inline-block;
	padding: 20px;
}

.footer h2{
	margin-left: 83px;
}